.green-button {
  background-image: linear-gradient(to right top, #009706, #1fa610, #32b619, #43c621, #53d629);  width: 180px;
  height: 38px;
  border-radius: 50px;
  color: var(--white);
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 0.9rem;
  font-weight: 600;
  box-shadow: 0 0 10px rgba(77, 255, 0, 0.5);
  transition: box-shadow 0.3s ease;
}
.green-button:hover {
  box-shadow: 0 0 20px rgba(4, 255, 0, 0.8);
  cursor: pointer;
}
