.layout-publisher-games {
  max-width: 100%;
  background-image: linear-gradient(to bottom, #0d4402af, #011602cc), url("/img/fondo1.webp");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  padding-bottom: 4rem !important;
}