@import url("../../css/colors.css");

.contenedor-controles {
  width: 70%;
  height: 140px;
  margin-bottom: 6rem;
  display: flex;
  justify-content: center;
  align-items: center;
}
.contenedor-controles-arrow {
  width: 60px;
  height: 60px;
  background-color: rgba(116, 96, 96, 0.539);
  border-radius: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.prev-arrow img {
  width: 80%;
  transform: rotate(90deg);
  margin: 0 !important;
}
.next-arrow img {
  width: 80%;
  transform: rotate(-90deg);
  margin: 0 !important;
}
.contenedor-controles__text {
  max-width: 80%;
  width: 60%;
  padding: 0rem 5rem;
  color: var(--white);
}
.text__texto-complementario {
  font-size: 1.4rem;
  font-weight: 300;
}
.text__texto {
  font-size: 2.4rem;
  font-weight: 500;
}