@import url("../../css/colors.css");

.contenedor-controles {
  width: 100% !important;
  height: 140px;
  margin-bottom: 6rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.contenedor-controles-arrow {
  width: 4rem;
  height: 4rem;
  background-color: rgba(175, 175, 175, 0.539);
  border-radius: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.prev-arrow img {
  width: 40%;
  transform: rotate(90deg);
  margin: 0 !important;
}
.next-arrow img {
  width: 40%;
  transform: rotate(-90deg);
  margin: 0 !important;
}
.contenedor-controles__text {
  max-width: 100%;
  width: 84%;
  color: var(--white);
}
.text__texto-complementario {
  font-size: 1.4rem;
  font-weight: 300;
}
.text__texto {
  font-size: 2.4rem;
  font-weight: 500;
}