.layout-popular-games {
  display: flex;
  justify-content: center;
  align-items: center;
  height: auto;
  padding-top: 7rem !important;
  padding-bottom: 2rem !important;
  background-image: url("/logos/fondo-popular-games.svg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}